body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:56px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:134px;
  width:482px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:38px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:285px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:210px;
  width:622px;
  height:29px;
  font-size:25px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  white-space:nowrap;
}
